/* CSS to center content */
div.centered-content {
    text-align: center;
}

/* CSS to remove image borders */
img {
    border: 0;
}

/* CSS to center content */
.centered-content {
text-align: center;
}
/* Optional: Add some spacing between the images */
.centered-content a {
margin: 10px;
}
/* placeholder */
::placeholder {
color: #f1f1f1;
}
  .password-toggle-container {
    position: relative;
  }

  .password-toggle-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #495f69;
    font-size: 18px;
  }
  
  /* Göz butonunun durumu için stiller */
  .password-toggle-btn.active {
    color: #06c;
  }
  .cname {  font-weight: bold;}
.whisper_log { cursor: pointer; }
.wspwraper { position:absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; bottom:5px; display:block; width:190px; border-radius:100px; display:none; }
.wspcontrol { display:table; width:100%; height:46px; padding:5px; table-layout:fixed; }
.wspavatarwrap { display:table-cell; vertical-align:middle; width:36px; height:36px; }
.wspavatar { width:36px; height:36px; border-radius:50%; display:block; }
.wspusername_wrap { display:table-cell; vertical-align:middle; padding:0 5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.wspcancel { display:table-cell; vertical-align:middle; width:30px; font-size:20px; }
.room-writings-layout {
  position: absolute;
  max-width: 100%;
  overflow-x: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding-bottom: -1px;
  white-space: nowrap;
}
.room-writing {
  display: inline-block;
  background: rgb(0 0 0 / 50%);
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 2px 3px;
  margin-left: 1px;
}
.writing-dot {
  margin-left: 2px;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-right: 0;
  animation: wave_yazanlar 0.8s linear infinite;
}
.writing-dot:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.writing-dot:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.room-writing .writing-dot {
  background: #fff;
}
@keyframes wave_yazanlar { 0%,100%,60% { transform:initial } 30% { transform:translateY(-5px) } }
